$navy-blue-text: #0E123E;
$alice-white-text: #F4F7FD;
$white-text: #FFFFFF;
$black-text: #000000;
$alice-white-bg: #F4F7FD;
$white-bg: #FFFFFF;
$black-bg: #000000;
$navy-blue-bg: #0E123E;

//Journal
$silver-text: rgba(117, 117, 117, 1);
$silver-bg: rgba(242, 242, 242, 1);