@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

a {
    color: inherit;
}

body {
    background-color: $alice-white-bg;
}

main {
    padding-top: 40px;
    border-radius: 5px 0 0 5px;
    // width: 92vw;
}

li {
    list-style: none;
}


::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F1F1F1;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(193, 193, 193);
}
