@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

a {
    color: inherit;
}

body {
    background-color: $alice-white-bg;
}

main {
    .navbar-bg {
        min-height: 45px;
        background-color: #FFFFFF;
    }

    @media screen and (max-width: 1024px) {
        .navbar-bg {
            min-height: 40px;
        }
    }
 
    // padding-top: 60px;
    border-radius: 5px 0 0 5px;
    // width: 92vw;
}

@media screen and (max-width: 535px) {
    main {
        padding-top: 20px;
    }
}

li {
    list-style: none;
}


::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F1F1F1;
}

::-webkit-scrollbar
{
    width: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(193, 193, 193);
}
