@import 'config.scss';

#journal {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 30px 6vw;
}

@media screen and (max-width: 1024px) {
    #journal {
        grid-template-columns: 70% 30%;
        padding: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    #journal {
        grid-template-columns: 80% 20%;
        padding: 20px 0;
    }
}

@media screen and (max-width: 650px) {
    #journal {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0;
    }
}


#articleCard {
    .article_card {
        display: flex;
        align-items: center;
        padding: 20px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #FFFFFF;
        margin: 0 22px 20px 22px;
        cursor: pointer;

        &--left {
            .topic_container {
                display: flex;
                align-items: center;

                h3 { 
                    font-size: 13px;
                    font-weight: 500;
                    margin-left: 10px;
                }

                img {
                    height: 20px;
                }
            }

            .headline_container {
                margin: 10px 0 8px 0;

                h1 {
                    font-size: 18px;
                    margin-bottom: 3px;         
                }

                h3 {
                    font-size: 14px;
                    font-weight: 500;
                    color: $silver-text;
                }
            }

            .meta_info {
                display: flex;
                align-items: center;

                h4 {
                    font-size: 11px;
                    font-weight: 400;
                    color: $silver-text;
                    margin-right: 5px;
                }

                .keyword {
                    background-color: $silver-bg;
                    border-radius: 10px;
                    padding: 2px 9px;
                }
            }
        }

        &--right {
            background-color: aqua;
            display: contents;
            margin-left: 20px;
            width: 200px;
            height: 135px;

            img {
                max-width: 200px;
                max-height: 135px;
                border-radius: 5px;
                margin-left: 20px;
            }
        }
    }

    
    @media screen and (max-width: 540px) {
        .article_card {
            flex-direction: column-reverse;

            .topic_container {
                margin: 8px 0 0 0;
            }

            .headline_container {
                margin-top: 5px;
            }

            &--right {
                img {
                    margin-left: 0;
                    // width: 100px;
                    // height: 100px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    #articleCard {
        // position: relative;
        // top: 50px;
    }
}

#sideFilterbar {
    margin: 22px;

    div {
        position: sticky;
        top: 100px;

        h3 {
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 20px;
            padding-left: 2px;
        }
    
        button {
            padding: 6px 20px;
            background-color: $white-bg;
            border: 1px solid $silver-bg;
            color: $silver-text;
            font-size: 11px;
            border-radius: 3px;
            margin: 0 15px 10px 0;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 650px) {
    #sideFilterbar {
        margin-top: 0;
    }
}