@import 'config.scss';

#mainLayout {
    #sidebar {
        width: 150px;
        position: fixed;

        .sidebar-container {
            display: flex;
            justify-content: center;
            height: 100vh;

            .sidebar-lists {
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    margin-bottom: 10px;
                    background-color: $navy-blue-bg;
                    color: $alice-white-text;
                    width: 140px;
                    height: 40px;
                    padding: 10px 0 0 30px;
                    border-radius: 2px;

                    
                    &.active {
                        background-color: #010422;
                        color: $white-text;
                    }
                }

                a {
                    font-size: 12px;
                    display: flex;
                    align-items: center;

                    svg {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
            }

        }
    }

    #topbar {
        position: fixed;
        width: 100%;
        border-bottom: 1px solid #e7e7e794;
        background: inherit;
        backdrop-filter: blur(10px);

        .topbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 6vw;
            margin: 0 22px;

            .logo {
                h1 {
                    font-size: 20px;
                    font-weight: 800;
                }
            }

            .topbar_right {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .nav-links {
                    min-width: 250px;
                    padding-right: 50px;
                    font-size: 14px;

                    ul {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            margin: 0 15px;
                        }

                        svg {
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            border-radius: 1px;
                        }
                    }
                }

                @media screen and (max-width: 535px) {
                    .nav-links {
                        display: none;
                    }
                }

                .extra-buttons {
                    width: 70px;
                    display: flex;
                    justify-content: space-between;

                    button, svg {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        background-color: unset;
                    }
                }
            }
        }

        @media screen and (max-width: 535px) {
            .topbar-container {
                border-bottom: 1px solid #e7e7e794;

            }
        }

        @media screen and (max-width: 1024px) {
            .topbar-container {
                padding: 5px 0;
                margin: 0 22px;
            }
        }

        .topbar-mini {
            border-bottom: 1px solid #e7e7e794;
            font-size: 13px;
            backdrop-filter: blur(20px);
            padding: 3px 0;

            ul {
                display: flex;
                justify-content: space-evenly;
            }
        }

        @media screen and (min-width: 535px) {
            .topbar-mini {
                display: none;
            }
        }
    }
}

