@import 'config.scss';

#portfolio {
    padding: 25px 6vw;

    .grid-container {
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 0 4px;
    }
}

@media screen and (max-width: 1024px) {
    #portfolio {
        padding: 20px 0;
        
        .grid-container {
            display: grid;
            grid-template-columns: 100%;
        }
    }
}

#hero {
    .hero-container {
        background-color: $white-bg;
        margin: 0 22px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
        flex-wrap: wrap;
    }

    .intro {
        h2 {
            font-size: 23px;
            font-weight: 600;
            color: $navy-blue-text;
            padding-bottom: 1px;
        }
    
        h3 {
            font-size: 16px;
            font-weight: 500;
            color: $navy-blue-text;
        }
    }

    img {
        margin-top: -10px;
        height: 140px;
    }

    @media screen and (max-width: 490px) {
        .coder-img, .expirience {
            display: none;
        }
    }

    .expirience {
        // margin-left: 65px;
        padding-top: 8px;

        h4 {
            font-size: 12px;
            color: $navy-blue-text;
            font-weight: 600;
            // position: relative;
            // top: 10px;
        }

        .expirience_numbers {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                display: flex;
            }

            h3 {
                font-size: 50px;
                font-weight: 500;
                color: $navy-blue-text;
                padding: 0 5px;
                line-height: 50px;
    
                span {
                    font-size: 30px;
                    font-weight: 500;
                    color: #767D9F;
                    padding: 0 3px;
                }
            }
        }
    }

    .social-links {
        padding-top: 8px;

        h4 {
            font-size: 12px;
            color: $navy-blue-text;
            font-weight: 600;
            // padding-bottom: 5px;
        }

        .social-container {
            display: flex;
            margin-top: 5px;

            .card {
                width: 40px;
                height: 40px;
                background-color: #ffffff;
                border-radius: 8px;
                box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
                font-size: 9.5px;
                font-weight: 600;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin: 0 6px;
                margin-bottom: 14px;
    
                img {
                    border-radius: 2px;
                    margin-top: 2px;
                    width: 20px;
                    height: 20px;
                }
    
                p {
                    margin-top: 7px;
                    text-align: center;
                }
            }
        }
    }
}

#langsAndTools {
    margin-top: 40px;
    margin-left: 15px;

    .heading-container {
        display: flex;
        align-items: center;

        h2 {
            font-size: 12px;
            font-weight: 600;
            margin-left: 13px;
        }

        .filter {
            background-color: $navy-blue-bg;
            width: 84px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            margin-left: 25px;

            button {
                font-size: 9px;
                background-color: unset;
                color: $white-text;
                width: 40px;
                height: 16px;
                border-radius: 50px;
                font-weight: 500;

                &.active {
                    background-color: $white-bg;
                    color: $navy-blue-text;
                }
            }

            
        }
    }

    .skills-container {
        display: grid;
        margin: 20px 15px 0 0;
        grid-template-columns: repeat(auto-fit, minmax(5rem, auto));
        justify-items: center;
        // flex-wrap: wrap;

        .card {
            width: 70px;
            height: 70px;
            background-color: $white-bg;
            border-radius: 8px;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            font-size: 9.5px;
            font-weight: 600;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            // margin-right: 14px;
            margin-bottom: 14px;

            img {
                border-radius: 2px;
                margin-top: 2px;
            }

            p {
                margin-top: 7px;
                text-align: center;
            }
        }
    }
}


#workHistory {
    margin: 40px 0 0 22px;
    
    .container {
        h2 {
            font-size: 12px;
            font-weight: 600;
            margin-left: 5px;
        }
    }

    $colors: (
        card1: #e4fae6,
        card2: #ddf3fa,
        card3: #faf3e2,
    );

    .card-container {
        display: flex;
        margin: 20px 22px 22px 0;
        // overflow-x: auto;
        // padding-bottom: 10px;
        border-radius: 15px;
        justify-content: space-between;

        .card {
            // min-width: 158px;
            min-height: 211px;
            padding: 15px 19px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // margin-right: 20px;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

            h3 {
                font-size: 12px;
                font-weight: 700;
            }

            h4 {
                font-size: 10px;
                font-weight: 500;
            }
        }

        @each $name, $color in $colors {
            .#{$name} {
                background-color: #{$color};
            }
        }

        .card4 {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 490px) {
        .card-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .card {
                min-height: 120px;
                max-height: 200px;
                flex-direction: row;
                justify-content: space-between;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }

}

#accomplishments {
    margin: 45px 22px 0 22px;

    .container {
        h2 {
            font-size: 12px;
            font-weight: 600;
        }
    }

    .card-container {
        margin-top: 20px;
        height: 455px;
        overflow-y: auto;
        border-radius: 10px;
        padding: 0 10px 0 0;

        .card {
            width: 318px;
            min-height: 70px;
            background-color: $white-bg;
            margin-bottom: 14px;
            // box-shadow: 0px 0px 50px rgba(107, 105, 105, 0.1);
            border-radius: 10px;

            &:nth-child(odd) {
                float: left;
                // border-radius: 10px 10px 10px 0;
                -webkit-box-shadow: 10px 10px 2px -8px #E4FAE6; 
                box-shadow: 10px 10px 2px -8px #E4FAE6;
            }

            &:nth-child(even) {
                float: right;
                // border-radius: 10px 10px 0 10px;
                -webkit-box-shadow: -10px 10px 0px -8px #FAF3E2; 
                box-shadow: -10px 10px 2px -8px #FAF3E2;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

    }
}