@import 'config.scss';

#viewArticle {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 30px 100px;
    justify-content: center;

    #leftbar {
        .leftbar_wrapper {
            position: fixed;
            top: 200px;
            display: flex;
            flex-direction: column;

            p {
                font-size: 12px;
            }

            .like_btn, .bookmark_btn {
                text-align: center;
                margin-bottom: 20px;
                line-height: 25px;
            }

            .share_btn {
                text-align: center;
            }

            .like_btn {
                i {
                    font-size: 35px;
                    cursor: pointer;
                    display: none;

                    .filled {
                        fill: #F1004F;
                    }
                }

                .heart_icon {
                    display: block;
                    animation: shake 0.05s;
                }

                @keyframes shake {
                    0% { transform: translate(1px, 1px) rotate(0deg); }
                    10% { transform: translate(-1px, -2px) rotate(-1deg); }
                    20% { transform: translate(-3px, 0px) rotate(1deg); }
                    30% { transform: translate(3px, 2px) rotate(0deg); }
                    40% { transform: translate(1px, -1px) rotate(1deg); }
                    50% { transform: translate(-1px, 2px) rotate(-1deg); }
                    60% { transform: translate(-3px, 1px) rotate(0deg); }
                    70% { transform: translate(3px, 1px) rotate(-1deg); }
                    80% { transform: translate(-1px, -1px) rotate(1deg); }
                    90% { transform: translate(1px, 2px) rotate(0deg); }
                    100% { transform: translate(1px, -2px) rotate(-1deg); }
                }
            }

            .share_btn {
                i {
                    cursor: pointer;

                    .share_icon {
                        transform: rotateY(180deg);

                        &--disabled {
                            display: none;
                        }
                    }
                }
            }

            .bookmark_btn {
                i {
                    font-size: 35px;
                    cursor: pointer;
                    display: none;
                }

                .bookmark_icon {
                    display: block;
                }
            }
        }   
    }

    .content_container {
        background-color: $white-bg;
        box-shadow: 0 0 0 1px rgba(9, 9, 9, 0.1);
        border-radius: 10px;

        img {
            width: 100%;
            height: 300px;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
        }

        .main_content {
            padding: 20px;
        }
    }

    #bottombar {
        position: fixed;
        bottom: 0;
    }
}

@media screen and (max-width: 1024px) {
    #viewArticle {
        margin: 30px 20px;
    }
}

@media screen and (max-width: 768px) {
    #viewArticle {
        grid-template-columns: 100%;
        margin: 30px 20px;

        #leftbar {
            position: fixed;
            bottom: 0;
            background-color: $white-bg;
            width: 100%;
            left: 0;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.28);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.28);
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.28);

            .leftbar_wrapper {
                position: unset;
                flex-direction: row;
                justify-content: space-around;

                & > div {
                    margin: 10px 0 5px 0 !important;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    i {
                        margin-bottom: 0;
                        line-height: 30px;
                        font-size: 25px !important;
                        color: #353535;
                        padding-right: 3px;
                    }
                }

                .share_btn p {
                    margin-top: 4px; 
                }
            }
        }
    }
}
