#homepage {
    .intro {
        margin: 25vh 0;

        .my_name {
            font-size: 26px;
            color: rgba(0, 0, 0, 0.842);
        }
    
        .my_designation {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.842);
        }
    }

}