#homepage {
    width: 100%;
    padding: 0 200px;

    .intro {
        padding: 18vh 0;

        .my_name {
            font-size: 6vw;
            color: #010506;
        }
    
        .my_designation {
            font-size: 4vw;
            color: #010506;

            span {
                // background-color: #F634FD;
                // color: rgb(250, 250, 250);
                border-radius: 5%;
                
                // padding: 0 3px;
            }
        }
    }

}